<<<<<<< HEAD
.profile__container{
    margin: 0;
    padding: 0;
    display: flex;
}
=======
.profile__container{
    margin: 0;
    padding: 0;
    display: flex;
}
>>>>>>> 31c43c63a8bce379037f5cb78baf8313db936ddb
