<<<<<<< HEAD
.page{
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
}
=======
.page{
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
}
>>>>>>> 31c43c63a8bce379037f5cb78baf8313db936ddb
