.popup__line{
    margin: 12px 36px 0 36px;
    padding: 0;
    border: #000 1px solid;
    opacity: 0.2;
}

@media screen and (max-width:500px) {
    .popup__line{
        margin: 12px 22px 0 22px;
    }
}