<<<<<<< HEAD
.profile{
    margin: 42px auto 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:1000px) {
    .profile{
        margin: 42px auto 0 auto;
        flex-direction: column;
    }
=======
.profile{
    margin: 42px auto 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:1000px) {
    .profile{
        margin: 42px auto 0 auto;
        flex-direction: column;
    }
>>>>>>> 31c43c63a8bce379037f5cb78baf8313db936ddb
}