<<<<<<< HEAD
.element{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 282px;
    border-radius: 10px;
    background-color: #fff;
=======
.element{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 282px;
    border-radius: 10px;
    background-color: #fff;
>>>>>>> 31c43c63a8bce379037f5cb78baf8313db936ddb
}