<<<<<<< HEAD
.popup__container_type_imageboard{
    max-width: 75vw;
    max-height: 75vh;
    background: none;
}
=======
.popup__container_type_imageboard{
    max-width: 75vw;
    max-height: 75vh;
    background: none;
}
>>>>>>> 31c43c63a8bce379037f5cb78baf8313db936ddb
