<<<<<<< HEAD
.popup__image{
    margin: 0;
    padding: 0;
    max-width: 75vw;
    max-height: 75vh;
    align-content: center;
    object-fit: contain;
=======
.popup__image{
    margin: 0;
    padding: 0;
    max-width: 75vw;
    max-height: 75vh;
    align-content: center;
    object-fit: contain;
>>>>>>> 31c43c63a8bce379037f5cb78baf8313db936ddb
}